<% @page_title = "Sign in" %>

<div class="h-full flex items-center justify-center bg-linear-to-br">
  <div class="w-full container-compact py-12">
    <!-- Card -->
    <div class="card bg-white backdrop-blur-sm shadow-2xl">
      <div class="card-body p-8">
        <!-- Title -->
        <h2 class="text-heading-1 mb-8">Sign in</h2>

        <!-- Form -->
        <%= form_with url: session_path, class: "flex flex-col gap-4" do |form| %>
          <!-- Email Field -->
          <label class="form-control">
            <div class="label">
              <span class="label-text text-heading-3">Email</span>
            </div>
            <div class="relative mt-1">
              <span class="absolute inset-y-0 left-0 flex items-center pl-4">
                <%= image_tag "email.svg", class: "w-5 h-5 text-gray-500 z-10" %>
              </span>
              <%= form.email_field :email, required: true, autofocus: true, autocomplete: "username", placeholder: "Your email", value: params[:email], class: "input input-bordered w-full pl-12" %>
            </div>
          </label>

          <!-- Submit Button -->
          <div class="form-control mt-6">
            <%= form.submit "Sign in", class: "btn bg-neutral-900 hover:bg-neutral-800 btn-lg w-full text-white border-0" %>
          </div>
        <% end %>

        <!-- Terms -->
        <p class="text-center text-body-sm mt-6">
          By signing in, you agree to our <%= link_to "Terms & Service", "#", class: "link link-hover text-neutral-600" %>
        </p>
      </div>
    </div>
  </div>
</div>
