<%= link_to post_path(post.slug), class: "post" do %>
  <div class="post__poster" style="background-image: url('<%= url_for(post.poster) %>'); background-size: cover; background-position: center;">
  </div>
  <div class="flex flex-column flex-1">
    <h3 class="post__title">
      <%= post.title %>
    </h3>
    <p class="post__meta">
      <span class="post__date"><%= post.created_at.strftime("%Y-%m-%d") %></span>
      <% post.topics.split(',').map(&:strip).each do |topic| %>
        <span class="post__topic"><%= topic %></span>
      <% end %>
    </p>
    <p class="post__guide">
      <%= post.guide %>
    </p>
  </div>
<% end %>
