<!DOCTYPE html>
<html data-theme="light">
  <%= render "shared/head" %>

  <body class="min-h-screen flex flex-col text-neutral-900 relative no-scrollbar">
    <%= render "shared/background_wave" %>

    <%= render "shared/header" %>

    <%= render "shared/flash" %>

    <main id="main" class="flex-1">
      <%= yield %>

      <%= render "shared/footer" %>
    </main>
  </body>
</html>
